/* 
	ColorBox example user style
	The following rules are ordered and tabbed in a way that represents the order/nesting of the generated HTML, 
	in hope that this will make the relationship easier to understand. Thanks, jack@colorpowered.com
*/
#cboxOverlay{background:url(images/overlay.png) 0 0 repeat;}

#colorbox{}
	#cboxTopLeft{width:21px; height:21px; background:url(images/borderTopLeft.png) 0 0 no-repeat;}
	#cboxTopCenter{height:21px; background:url(images/borderTopCenter.png) 0 0 repeat-x;}
	#cboxTopRight{width:21px; height:21px; background:url(images/borderTopRight.png) 0 0 no-repeat;}
	#cboxBottomLeft{width:21px; height:21px; background:url(images/borderBottomLeft.png) 0 0 no-repeat;}
	#cboxBottomCenter{height:21px; background:url(images/borderBottomCenter.png) 0 0 repeat-x;}
	#cboxBottomRight{width:21px; height:21px; background:url(images/borderBottomRight.png) 0 0 no-repeat;}
	#cboxMiddleLeft{width:21px; background:url(images/borderMiddleLeft.png) 0 0 repeat-y;}
	#cboxMiddleRight{width:21px; background:url(images/borderMiddleRight.png) 0 0 repeat-y;}
	#cboxContent{background:#fff;}
		#cboxLoadedContent{margin-bottom:28px;}
                #cboxTitle{position:absolute; bottom:3px; left:0; text-align:center; width:100%; background:#fff; color:#949494;}
                #cboxCurrent{position:absolute; bottom:3px; left:58px; color:#949494;}
                #cboxSlideshow{position:absolute; bottom:3px; right:30px; color:#0092ef;}
                #cboxPrevious{position:absolute; bottom:0; left:0px; background:url(images/controls.png) -25px 0px no-repeat; width:25px; height:25px; text-indent:-9999px;}
                #cboxPrevious.hover{background-position:-25px -25px;}
                #cboxNext{position:absolute; bottom:0; left:27px; background:url(images/controls.png) 0px 0px no-repeat; width:25px; height:25px; text-indent:-9999px;}
                #cboxNext.hover{background-position:0px -25px;}
		#cboxLoadingOverlay{background:url(images/loading_background.png) center center no-repeat;}
                #cboxLoadingGraphic{background:url(images/loading.gif) center center no-repeat;}
		#cboxClose{position:absolute; bottom:0; right:0; background:url(images/controls.png) -50px 0px no-repeat; width:25px; height:25px; text-indent:-9999px;}
		#cboxClose.hover{background-position:-50px -25px;}