/*
	The following fixes png-transparency for IE6.  
	It is also necessary for png-transparency to cooperate with the fade transition in IE7 & IE8
	
	Since this method does not support CSS background-positioning, it is incompatible with CSS sprites.  
	Colorbox preloads navigation hover classes to account for this.
*/
#cboxPrevious{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/previous.png, sizingMethod='crop');}
#cboxPrevious.hover{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/previousHover.png, sizingMethod='scale');}
#cboxNext{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/next.png, sizingMethod='crop');}
#cboxNext.hover{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/nextHover.png, sizingMethod='scale');}
#cboxClose{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/close.png, sizingMethod='crop');}
#cboxClose.hover{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/closeHover.png, sizingMethod='scale');}
